/* grid layout */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
}

.clientdata {
    grid-area: 1 / 1 / span 1 / span 1;

}

.accounttables, .top-ten-highest-tables {
    grid-area: 1 / 2 / span 1 / span 1;
}

.account-info-block {
    /*grid-area: 1 / 2 / span 1 / span 1;*/
    background-color: #96154010;
}

.transactions-table {
    grid-area: 1 / 1 / span 3 / span 3;
    margin-left: auto;
    margin-right: auto;
}

.selectaccount, .average-per-sector {
    grid-area: 1 / 3 / span 1 / span 1;
    margin-left: auto;
    margin-right: auto;
}

table tr:nth-child(odd) {
    background-color: #96154070;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table {
    border: 2px solid #96154070;
    border-collapse: collapse;
    text-align: left;
    background-color: #96154070;
    color: black;
    border-spacing: 0;

}

table input {
    width:100%;
}


th, td {
    padding: 3px;
    border: solid 2px #96154070;
}


body {
    font-size: 10pt;
}

@media screen and (min-width: 700px) {
    .nav ul {
        text-align: right;
    }

    .nav ul li {
        display: inline-block;
        border-bottom: 0px;
        border-left: 1px solid black;
        text-align: left;
    }

    .text {
        color: #d5dfe5;
        font-size: 36px;
        padding: 8px 12px;
        position: absolute;
        bottom: 80px;
        width: 100%;
        text-align: center;
    }

    .w3-container {
        margin: auto;
        float: left;
        width: 50%;
        max-width: 700px;

    }

}

