<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="/general :: headerfiles"/>
    <title>Employee View</title>
</head>
<body>
<div th:insert="/general :: header"/>
​

<h1 style="text-align: left;">Welkom <span th:text="${employee.firstName}"/></h1>

<div class="grid-container">
    <div class="top-ten-highest-tables">
        <tr>
            <td><input class="input-form" type="submit" value="Vraag pinmachine aan"></td>
        </tr>


    </div>
    <div class="new-client-container">
        <div class="form-container">

            <td><input type="button" th:action="*{requestPDQ}" placeholder="Aanvragen pinapparaat">

        </div>
        ​
    </div>
</div>
</body>
</html>
