<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>nieuwe business account</title>
</head>
<body>
<h1>gegevens voor nieuwe zakelijke rekening</h1>
<p>Hallo <span th:text="${business.owner.firstName} + ' ' + ${business.owner.prefix} + ' ' + ${business.owner.lastName}">naam</span> voor welk bedrijf wil je een zakelijke rekening openen</p>
<p>vul in onderstaand formulier de benodigde gegevens in om een nieuwe zakelijke rekening te openen</p>
<form action="#" th:action="@{NewBusiness}" th:object="${business}" method="post">
    <table>
        <tr>
            <td><p>Naam van het bedrijf</p></td>
            <td> <input type="text" th:field="*{businessName}"></td>
        </tr>
        <tr>
            <td><p>Kies bedrijfssector</p></td>
            <td><select th:field="*{sector}">
                <option th:each="sector : ${T(team2.sofa.sofa.model.BusinessSector).values()}"
                        th:value="${sector}" th:text="${sector}"></option>
            </select></td>
        </tr>
        <input type="hidden" name="owner" id="owner" th:value="*{owner.id}"/>
    </table>
    <input type="submit" value="Nieuwe Rekening">
</form>

</body>
</html>