<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Client View</title>
</head>
<body>
<div><a href="index"> <input type="submit" value ="Home"> </a> </div>

<h1>Hallo, <span th:text="${client.firstName}"/></h1>

<!--home knop!-->
<form action="#" th:action="@{/clientViewHandler}" th:object="${client}" method="post" onsubmit="return validateForm();">

    <h2>Overzicht rekeningen</h2>
    <table>
        <tr>
            <th>Rekeningnummer</th>
            <th>Saldo</th>
        </tr>
        <tr th:each="PrivateAccount : *{accounts}">
            <td>
                <a th:href="@{clientViewHandler(id=${PrivateAccount.id})}"><span th:text="${PrivateAccount.iban}"/></a>

            </td>

            <td><a><span th:text="${PrivateAccount.balance}"/></a></td>
        </tr>
    </table>

</form>

    <!-- knop voor uitloggen !-->

    <div>
        <a href="login"> <input type="submit" value="Uitloggen"> </a>
        <!-- popup-functie voor bevestiging nog bouwen !-->
    </div>





</body>
</html>
