<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Client View</title>
</head>
<body>
<div><a href="index"> <input type="submit" value="Home"> </a></div>

<h1>Hallo, <span th:text="${client.firstName}"/></h1>
<h2>Overzicht rekeningen</h2>
<div th:unless="${#lists.isEmpty(listPrivateAccounts)}">
    <h3>Particuliere rekeningen</h3>
    <table>
        <tr>
            <th>Rekeningnummer</th>
            <th>Saldo</th>

        </tr>
        <tr th:each="Account : ${listPrivateAccounts} ">
            <td><span th:text="${Account.iban}"/></td>
            <td><span th:text="${Account.balance}"/></td>
        </tr>
    </table>
    <br>
</div>

<div th:unless="${#lists.isEmpty(listBusinessAccounts)}">
    <h3>Zakelijke rekeningen</h3>
    <table>
        <tr>
            <th>rekeningnummer</th>
            <th>saldo</th>
        </tr>
        <tr th:each="Account : ${listBusinessAccounts}">
            <td><span th:text="${Account.iban}"/></td>
            <td><span th:text="${Account.balance}"/></td>
        </tr>
    </table>
    <br>
</div>
<form action="#" th:action="@{AccountListHandler}" th:object="${account}" method="post">
    <input type="submit" value="kies rekening">
    <select th:field="*{id}">
        <option th:each="privateAccount : ${client.accounts}"
                th:value="${privateAccount.id}"
                th:text="${privateAccount.iban}">Wireframe
        </option>
    </select>
</form>
<br>
<!-- knop voor uitloggen !-->

<div>
    <a href="login"> <input type="submit" value="Uitloggen"> </a>
    <!-- popup-functie voor bevestiging nog bouwen !-->
</div>
</form>


</body>
</html>
