<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Client View</title>
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loggedIn.css}">
</head>
<body>
<div class="nav">
    <ul style="position: absolute;">
        <li style="align: left" onClick="javascript:history.go(-1)">Terug</li>
    </ul>
    <ul>
        <li><a href="index" class="link">Home</a></li>
        <li><a href="login" class="link">Logout</a></li>
    </ul>
</div>

<h1 style="text-align:left">Hallo, <span th:text="${client.firstName}"/></h1>

<div class="grid-container">
    <div class="accounttables">
        <h7>Overzicht rekeningen</h7><br><br>
<div th:unless="${#lists.isEmpty(listPrivateAccounts)}">
    <h8>Particuliere rekeningen</h8>
    <table>
        <tr>
            <th>Rekeningnummer</th>
            <th>Saldo</th>

        </tr>
        <tr th:each="Account : ${listPrivateAccounts} ">
            <td><span th:text="${Account.iban}"/></td>
            <td><span th:text="${Account.balance}"/></td>
        </tr>
    </table>
    <br>
</div>

<div th:unless="${#lists.isEmpty(listBusinessAccounts)}">
    <h8>Zakelijke rekeningen</h8>
    <table>
        <tr>
            <th>rekeningnummer</th>
            <th>saldo</th>
        </tr>
        <tr th:each="Account : ${listBusinessAccounts}">
            <td><span th:text="${Account.iban}"/></td>
            <td><span th:text="${Account.balance}"/></td>
        </tr>
    </table>
    <br>
</div>
<form action="#" th:action="@{AccountListHandler}" th:object="${account}" method="post">
    <input type="submit" value="kies rekening">
    <select th:field="*{id}">
        <option th:each="privateAccount : ${client.accounts}"
                th:value="${privateAccount.id}"
                th:text="${privateAccount.iban}">Wireframe
        </option>
    </select>
</form>
    </div>
</div>

</body>
</html>
