<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="general :: headerfiles"/>
    <title>Koppel Rekeninghouder</title>
</head>
<body>
<div th:insert="general :: header"/>
<div th:if="${account}">
<h1>Koppel nieuwe rekeninghouder aan rekening: <span th:text="${account.iban}">rekening</span></h1>
<form action="#" th:action="@{connectForm}" th:object="${account}" method="post">
<table>
    <tr>
        <th>gebruikersnaam</th>
        <th>beveiligingscode</th>
    </tr>
    <tr>
       <td><input type="text" placeholder="voer gebruikersnaam in" name="newuser" required="required"></td>
        <td><input type="text" placeholder="voer beveiligingscode in" name="accesscode" required="required"></td>
        <input type="hidden" th:value="${account.iban}" name="bankaccount">
    </tr>
    <tr th:if="${wrong}">
        <td></td>
        <td th:text="${wrong}" style="color:red">foutmelding </td>
    </tr>
</table>
    <input type="submit" value="Verzenden">
</form>
</div>
<div th:if="${connection}">
    <h1>Koppel nieuwe rekeninghouder aan rekening: <span th:text="${connection.iban}">rekening</span></h1>
    <form action="#" th:action="@{connectValidate}" method="post">
        <table>
            <tr>
                <td>iban</td>
                <td>beveiligingscode</td>
            </tr>
            <tr>
                <td><input type="text" placeholder="iban" th:value="${connection.iban}" name="banknr"></td>
                <td><input type="text" placeholder="voer beveiligingscode in" name="accesscode"></td>
                <input type="hidden" th:value="${connection.id}" name="idconnect">
            </tr>
            <tr th:if="${wrong}">
                <td></td>
                <td th:text="${wrong}" style="color:red">foutmelding</td>
            </tr>
        </table>
        <input type="submit" value="Verzenden">
    </form>

</div>
</body>
</html>
