<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Client</title>
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/loggedIn.css}">
</head>
<body>

<div th:insert="/headertemplates :: header"/>

<div class="grid-container">




    <div class="accounttables" style="grid-area: 2 / 2 / span 1 / span 1">
<h2>Transacties</h2>
        <div class="account-info-block">
            <table>
                <tr>
                    <th>account.iban<br>
                        Saldo: account.balance<br>
                        Bestedingsruimte: account.balance<br>
                        BIC:SOFANL2U<br>
                    </th>
                </tr>
            </table>
        </div>
    <table>
        <tr>
            <td>naam</td>
            <td>bedrag</td>
            <td>debit rekening</td>
            <td>credit rekening</td>
        </tr>
        <div th:unless="${#lists.isEmpty(account.transactions)}">
        <tr th:each="transaction : ${account.transactions}">
            <td><span th:text="${transaction.description}"/></td>
            <td><span
                    th:text="${transaction.debitAccount.iban == account.iban} ? '- &euro; ' + ${transaction.amount} : '&euro; ' + ${transaction.amount}"/>
            </td>
            <td><span th:text="${transaction.debitAccount.getIban()}"/></td>
            <td><span th:text="${transaction.creditAccount.getIban()}"/></td>
        </tr>
        </div>
    </table>

<br>
</div>
</div>

<!--betaalformulier! Nog te maken-->
<div>
    <form action="#" th:action="@{TransferHandler}" th:object="${account}" method="post">
        <input type=hidden th:field="${account.id}"/>
        <input type="submit" value="betaalopdracht"/>
    </form>
</div>


<!--terug-knop!-->
<div>
    <form action="#" th:action="@{backToOverview}" th:object="${account}" method="post">
        <input type=hidden th:field="${account.id}"/>
        <input type="submit" value="Terug naar overzicht"/>
        <!--    <input type="button" value="Terug naar overzicht" onClick="javascript:history.go(-1)" />-->
    </form>
</div>


</body>
</html>
