<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:insert="general :: headerfiles"/>
    <div th:insert="general :: date-time-script"/>
    <title>Dashboard Employee</title>
</head>
<body onload="startTime()">
<div th:insert="general :: header"/>

    <div class="new-client-container">
        <div class="w3-container">

            <div class="transactions-table">
                <h2>Rekeningoverzicht</h2>
                <div class th:insert="general :: account-info-block"/>
                <div class th:insert="general :: transactions-table"/>
                <br>
            </div>
            </div>
        </div>

</body>
</html>
