<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Employee</title>
</head>
<body>
<!--home knop!-->
<div> <a href="index"> <input type="submit" value ="Home"> </a> </div>


<h1>Rekening <span th:text="${account.IBAN}"/></h1>

<!-- hier wordt een lijst met alle transacties ingeladen !-->
<h2>Transacties</h2>
<div th:unless="${#lists.isEmpty(allTransactions)}">
    <table>
        <tr>
            <td>naam</td>
            <td>bedrag</td>
        </tr>
        <tr th:each="account : ${allTransactions}">
            <td>Kapitalist BV<span th:text="${transaction.IBANdebet.name}"/></a></td>
            <td>500<span th:text="${transaction.amount}"/></td></a>
        </tr>
    </table>
</div>
<br>


<!--terug-knop!-->
<div>
    <a href="client_view"> <input type="submit" value="Terug naar overzicht"> </a>
</div>


<!--knop voor uitloggen!-->
<div>
    <a href="templates/login"> <input type="submit" value="Uitloggen"> </a>
    <!-- popup-functie voor bevestiging nog bouwen !-->
</div>

</body>
</html>
