<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee View</title>
</head>
<body>

<!--home knop!-->
<div> <a href="index.html"> <input type="submit" value ="Home"> </a> </div>


<h1>Hallo, <span th:text="${employee.firstName}"/></h1>

<!--de tien rekeningen met het hoogste saldo, voor hoofd particulieren en hoofd mkb!-->
<div th:unless="${#lists.isEmpty(tenHighestBalance)}">
    <h2>De tien rijkste stinkerds</h2>
    <div><table>

        <tr>
            <td>IBAN</td>
            <td>Naam</td>
            <td>Saldo</td>
        </tr>
        <tr th:each="account : ${tenHighestBalance}">
            <td><span th:text="${account.IBAN}"/></td>
            <td><span th:text="${account.name}"/></td>
            <td><span th:text="${account.balance}"/></td>
        </tr>
    </table>
    </div>


    <!--lijst met actiefste rekeningen (alleen hoofd mkb)!-->
    <div th:unless="${#lists.isEmpty(tenMostActive)}">
        <h2>De tien rijkste stinkerds</h2>
        <div><table>

            <tr>
                <td>IBAN</td>
                <td>Naam</td>
                <td>Saldo</td>
            </tr>
            <tr th:each="account : ${tenMostActive}">
                <td><span th:text="${account.IBAN}"/></td>
                <td><span th:text="${account.name}"/></td>
                <td><span th:text="${account.balance}"/></td>
            </tr>
        </table>
        </div>

<!--gemiddelde per sector (alleen hoofd mkb)!-->
        <div th:unless="${#lists.isEmpty(tenMostActive)}">
<h2>Gemiddelde per sector</h2>
<table>
    <tr>
    <td>Sector</td>
    <td>Gemiddeld saldo</td>
    </tr>

    <tr th:each="sector : ${averageBalancePerSector}">
        <td><span th:text="${sector.NAME}"></span></td>
        <td><span th:text="${sector.averageBalance}"></span></td>

    </tr>
</table>


<!--knop voor uitloggen!-->
<div>
    <a href="templates/login.html"> <input type="submit" value="Uitloggen"> </a>
    <!-- popup-functie voor bevestiging nog bouwen !-->
</div>

<!--terug-knop!-->
<div>
    <a href="client_view.html"> <input type="submit" value="Terug naar overzicht"> </a>
</div>

</body>
</html>
