<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sofa Home</title>
</head>
<body>

<!--home knop!-->
<div><a href="index"> <input type="submit" value ="Home"> </a> </div>

<h1>Welkom bij Sofa</h1>
<h2>Klik <a href="initdb">hier</a> om de database te vullen.</h2>
<p>Zoals u kunt zien is Sofa nog niet gereed.</p>
<img th:src="@{images/ucbank.jpg}" height="450" alt="bank" />
<p>Nog even geduld, het wordt werkelijk fantastisch</p>


<p>klik <a href="login">hier</a> om naar de login pagina te gaan.</p>

</body>
</html>
