<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sofa Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">


</head>
<body>
<div class="nav">
    <ul>
        <li><a href="index" class="link">Home</a></li>
        <li><a href="login" class="link">Login</a></li>
        <li><a href="new_account" class="link">Nieuwe klant</a></li>
        <<li><a href="login_employee" class="link">Werknemers</a></li>
    </ul>
</div>

<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
        <div class="numbertext">1 / 2</div>
        <img th:src="@{images/OldsofaCaroussel1.jpg}" style="width:100%">
        <div class="text">Uw geld zit lekker bij Sofa</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 2</div>
        <img th:src="@{/images/DogSofaCaroussel2.jpg}" style="width:100%">
        <div class="text">Sofa, zo goed</div>
    </div>


    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
    </div>
</div>

<h1>Welkom bij Sofa</h1>
<div>
    <div class="w3-container" style="text-align:center;">
        <a href="new_account"> <input type=submit value="Open een rekening"/></a>
    </div>
    <div class="w3-container">
    </div>
</div>

<br>

<div class="new-client-container">
    <div class="form-container">
    <h2>Klik <a href="initdb">hier</a> om de database te vullen.</h2>
<div>
    <h2 style="text-align: center">Klik <a href="initdb">hier</a> om de database te vullen.</h2>
</div>
</div>

<footer class="footer">Sofa bank is een project van studenten van de HvA, omscholingstraject Make IT Work.
Copyright Bas Goossens, Joost Kager, Kirsten Jalvingh, Danielle van den Bos, Rene van der Stok & Aat Niehot </footer>

<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 6000); // Change image every 6 seconds
    }
</script>

<br>


</body>
</html>
