<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login voor klanten</title>
</head>
<body>
<!--home knop!-->
<div><a href="index"> <input type="submit" value="Home"> </a></div>

<h2>Sofa login pagina</h2>

<form action="#" th:action="@{loginHandler}" th:object="${klant}" method="post">
    <table>
        <tr>
            <td>Naam:</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>

Ik ben een <a href="login_employee">medewerker</a>...
Ga <a href="index">terug</a> naar het begin...
</body>
</html>
