<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Nieuwe klant</title>
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}">

</head>
<body>
<div class="nav">
    <ul>
        <li><a href="index" class="link">Home</a></li>
        <li><a href="login" class="link">Login</a></li>
        <li><a href="new_account" class="link">Nieuwe klant</a></li>
        <li><a href="login_employee" class="link">Werknemers</a></li>
    </ul>
</div>

<div class="text-container">
    <h2>Account aanmaken</h2>
</div>
<div class="new-client-container">
    <div class="form-container">

    U kunt hier uw gloednieuwe account aanmaken en klant worden van Sofa. Indien u een nieuwe klant bent krijgt u van ons een
        rekeningnummer toegewezen en kunt u op het volgende scherm inloggen met uw inloggegevens. Tot snel!
    </div>
</div>

<div class="new-client-container">
    <div class="form-container">
<form name="new_client" class="new_client" action="#" th:action="@{newAccountHandler}" th:object="${client}" method="post">
    <table>
        <tr>
            <td><input type="text" th:field="*{firstName}" placeholder="Voornaam" required
                       oninvalid="this.setCustomValidity('Geef uw voornaam op')"
                       oninput="setCustomValidity('')"/></td>
            </td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{prefix}" placeholder="Tussenvoegsel"/></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{lastName}" placeholder="Achternaam" required
                       oninvalid="this.setCustomValidity('Geef uw achternaam op')"
                       oninput="setCustomValidity('')"/></td>

        </tr>
        <tr>
            <td><input type="text" th:field="*{Address.street}" placeholder="Straatnaam" required
                       oninvalid="this.setCustomValidity('Geef uw straatnaam op')"
                       oninput="setCustomValidity('')"/></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{Address.houseNumber}" placeholder="Huisnummer" required
                       oninvalid="this.setCustomValidity('Geef uw huisnummer op')"
                       oninput="setCustomValidity('')"/></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{Address.zipCode}" placeholder="Postcode" required
                       oninvalid="this.setCustomValidity('Geef uw postcode op')"
                       oninput="setCustomValidity('')"/></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{Address.city}" placeholder="Woonplaats" required
                       oninvalid="this.setCustomValidity('Geef uw woonplaats op')"
                       oninput="setCustomValidity('')"/></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{ssn}" placeholder="BSN" required
                       oninvalid="this.setCustomValidity('Geef uw BSN op')"
                       oninput="setCustomValidity('')"/></td>

        </tr>
        <tr>
            <td><input type="email" th:field="*{email}" placeholder="Emailadres" required
                       oninvalid="this.setCustomValidity('Geef een geldig email adres op')"
                       oninput="setCustomValidity('')"/></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{telephoneNr}" placeholder="Telefoonnummer" required
                       oninvalid="this.setCustomValidity('Geef uw Telefoonnummer op')"
                       oninput="setCustomValidity('')"/></td>
        </tr>
        <tr>
            <td><input type="date" class="date" th:field="*{birthday}" required
                       oninvalid="this.setCustomValidity('Geef uw voornaam op')"
                       oninput="setCustomValidity('')"/></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{gender}" placeholder="Geslacht" required
                       oninvalid="this.setCustomValidity('Geef uw geslacht op')"
                       oninput="setCustomValidity('')"/></td>

        </tr>
        <tr>
            <td><input type="text" th:field="*{username}" placeholder="Gebruikersnaam" required
                       oninvalid="this.setCustomValidity('Geef uw gebruikersnaam op')"
                       oninput="setCustomValidity('')"/></td>

        </tr>
        <tr>
            <td><input type="password" th:field="*{password}" placeholder="Wachtwoord" required
                       oninvalid="this.setCustomValidity('Geef een wachtwoord op')"
                       oninput="setCustomValidity('')"/></td>

        </tr>
        <tr>
            <td><input class="input-form" type="submit" value="Verzenden"></td>
        </tr>
        <tr>
            <td>
                <div class="text-container">
                    <div class="form-container" th:unless="${#lists.isEmpty(errorList)}">
                        <span th:each="error : ${errorList}">
                        <span th:text="${error}" style="color: red"/>
                        </span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</form>
</div>
</div>

<footer class="footer">Sofa bank is een project van studenten van de HvA, omscholingstraject Make IT Work.
    Copyright Bas Goossens, Joost Kager, Kirsten Jalvingh, Danielle van den Bos , Rene van der Stok & Aat Niehot </footer>


</body>
</html>
