<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}">

    <title>New Business Account</title>
</head>
<body>
<div class="nav">
    <ul>
        <li><a href="index" class="link">Home</a></li>
        <li><a href="login" class="link">Login</a></li>
        <li><a href="new_account" class="link">Nieuwe Klant</a></li>
        <li><a href="login_employee" class="link">Werknemers</a></li>
    </ul>
</div>

<div class="new-client-container">
    <div class="w3-container">
        <h1 style="text-align: left">Open een zakelijke rekening</h1>
        <p>vul in onderstaand formulier de benodigde gegevens in om een nieuwe zakelijke rekening te openen</p>
        <form action="#" th:action="@{NewBusiness2}" th:object="${business}" method="post">
            <table class="new-business-account-table">
                <tr>
                    <td>Naam bedrijf:</td>
                    <td><input type="text" th:field="*{businessName}"></td>
                </tr>
                <tr>
                    <td>Sector:</td>
                    <td><select field="*{sector}">
                        <option th:each="sector : ${T(team2.sofa.sofa.model.BusinessSector).values()}"
                                th:value="${sector}" th:text="${sector}"></option>
                    </select></td>
                </tr>
            </table>
            <input type="hidden" name="owner" id="owner" th:value="${client.id}"/>

            <input type="submit" value="Bevestig"/>

        </form>

    </div>
</div>

</body>
</html>
