<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--home knop!-->
<div><a href="index"><input type="submit" value ="Home"></a></div>

<h2>Account aanmaken</h2>
<form name="new_client" id="new_client" action="#" th:action="@{newAccountHandler}" th:object="${client}" method="post">
    <table>
        <tr>
            <td>Voornaam:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Tussenvoegsel:</td>
            <td><input type="text" th:field="*{prefix}"/></td>
        </tr>
        <tr>
            <td>Achternaam:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>Straatnaam:</td>
            <td><input type="text" th:field="*{Address.street}"/></td>
        </tr>
        <tr>
            <td>Huisnummer:</td>
            <td><input type="text" th:field="*{Address.houseNumber}"/></td>
        </tr>
        <tr>
            <td>zipCode:</td>
            <td><input type="text" th:field="*{Address.zipCode}"/></td>
        </tr>
        <tr>
            <td>city:</td>
            <td><input type="text" th:field="*{Address.city}"/></td>
        </tr>
        <tr>
            <td>Burger service nummer:</td>
            <td><input type="text" th:field="*{ssn}"/></td>
        </tr>
        <tr>
            <td>Emailadres:</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td>Telefoonnummer:</td>
            <td><input type="text" th:field="*{telephoneNr}"/></td>
        </tr>
        <tr>
            <td>Geboortedatum:</td>
            <td><input type="text" th:field="*{birthday}"/></td>
        </tr>
        <tr>
            <td>Geslacht:</td>
            <td><input type="text" th:field="*{gender}"/></td>
        </tr>
        <tr>
            <td>Gebruikersnaam:</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>Wachtwoord</td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="verzenden"></td>
        </tr>
    </table>
</form>

Ga <a href="index">terug</a> naar het begin...
</body>
</html>
